body {
    min-width: 900px;
    margin:auto;
}

.circle {
    margin: 40px 100px;
    height: 40px;
    width: 40px;
    animation: circle 3s infinite alternate 1s;
    background: white;
}
@keyframes circle {
    0% {
        border-radius: 0 0 0 0;
        transform: rotate(0deg);
        left: 0;
    }
    25% {
        border-radius: 50% 0 0 0;
        transform: rotate(45deg);
        left: 100px;
    }
    50%  {
        border-radius: 50% 50% 0 0;
        transform: rotate(90deg);
        left: 110px;
    }
    75% {
        border-radius: 50% 50% 50% 0;
        transform: rotate(135deg);
    }
    100% {
        border-radius: 50% 50% 50% 50%;
        transform: rotate(180deg);
        left: 500px;
    }
}
.circle> p {
    text-align: center;
    padding: auto;
}

.animation {
    width: 70%;
    border: 3px double yellow;
    background: goldenrod;
    padding: 30px;
    opacity: 0.5;
    margin: auto;
}
.animation>.box {
    width: 100px;
    height: 100px;
    background: darkblue;
    text-align: center;
    margin: 30px 0;
    transition: background-color 1s, width 3s, height 1s;
}
.animation>.box:hover {
    background-color: yellow;
    width: 50px;
    height: 20px;
}


.object_red {
    position: relative;
    width: 50px;
    height: 50px;
    background: brown;
    vertical-align: center;
    left: 0;
   animation-name: object_red;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;

}


.animation:hover .object_red {
    animation-play-state: paused;
    background: green;
}

@keyframes object_red {
    0% {
        left: 0;
    }
    60% {
        border-radius: 60%;
    }
    100% {
        left: 500px;
    }
}

.first_maket {
    width: 70%;
    margin: auto;
    border: 4px dotted #000000;
    margin-top: 20px;
}
form>[type="checkbox"]:checked+span {
    background: yellow;
}
form>[type="checkbox"]:indeterminate, span {
    background: red;
}
[id="email"]:invalid {
    background: red;
    font-size: 15px;
    width: 100px;
    min-height: 30px;
    opacity: .5;
}
[id="sec"]:valid {
 background: green;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    /*grid-auto-rows: 250px;*/
    grid-auto-rows: minmax(200px, auto);
    background-color: green;
}
.wrapper>div {
    padding: 1em;
    background-color: orange;
}
.wrapper>div.light {
    padding: 1em;
    background-color: #3a509b;
}
.wrapper>.box:nth-last-child(odd) {
    background: #3a509b;
}
.wrapper>.box:last-child {
background: green;
}
.wrapper>.box:first-child {
    background: red;
}
.wrapper>.box:nth-child(2n) {
    background: blue;
}
.wrapper>.box:nth-child(5n) {
    background: white;
}



@media only screen and (max-width: 600px) {
.wrapper {
    background: brown;
    width: 200px;
    display: block;
}
}

#container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 30px;
    background: green;
    border: 4px solid red;
}
#container>button {
    width: 100%;
}
#container>button:hover {
background: blueviolet;
}
#container>button:active {
background: greenyellow;

}

@media only screen and (max-width: 600px) {
    #container {
        background: brown;
        width: 200px;
        display: block;
    }

.staff>div {
    display: flex;
    margin-top: 30px;
    width: 30%;
}
section {
    display: flex;
    background: antiquewhite;
}

.aside {
    width: 100px;
    order: 2;
    display: flex;
    flex-direction: column-reverse ;
}
main {
    width: 70%;
}
}
[name|="photo"] {
    background: #3a509b;
    margin: 20px;
}
[class|="submit"] {
    background: red;
    margin: 20px;
    padding: 20px;
}
/*[id|="send"] {*/
/*    background: #3a509b;*/
/*    margin: 20px;*/
/*    padding: 30px;*/
/*}*/
